div.userInfo {
    text-align: right;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 5px;
}
div.cartHeader {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #00000070;
}
div.cartHeader span {
    margin: 0 23px;

}
ul.cartList {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
ul.cartList li {
    position: relative;
    padding: 20px 0px;
    border-bottom: 1px solid #00000070;
}
ul.cartList li span{
    position: absolute;
}
ul.cartList li span.carttype{
    left: 5px;
    bottom: 8px;
}
ul.cartList li span.cartCount {
    font-weight: 600;
    bottom: 6px;
    left: 137px;
    background-color: rgba(0, 0, 0, 0.5);
}
ul.cartList li span.cartCount button {
    background-color: rgba(0, 0, 0, 0.52);
    color: rgba(255, 255, 255, 0.76);
    bottom: 2px ;
}
ul.cartList li span.cartCount p {
    display: inline;
    position: relative;
}
ul.cartList li span.cartPrice {
    bottom: 8px;
    right: 95px;
}
ul.cartList li span.cartRemove {
    right: 5px;
    bottom: 6px;
}
ul.cartList li span.cartRemove button {
    background-color: #333333;
    border: 1px solid #222222;
    color: rgb(243, 107, 107);
    padding: 3px 10px;
    border-radius: .3em;
}
div.total {
    padding: 15px 0;
    position: relative;
    border-bottom: 1px solid #00000059;
    font-weight: 800;
}
div.total span {
    position: absolute;
    bottom: 5px;
}
div.total span.totalPlaceholder{
    left: 15px;
}
div.total span.total{
    right: 92px;
}
div.total span.removeAll{
    right: 5px;
}
div.total span.removeAll button {
    background-color: #333333;
    border: 1px solid #222222;
    color: rgb(243, 107, 107);
    padding: 3px 10px;
    border-radius: .3em;
}
div.checkOut {
    margin: 10px 0;
}
div.checkOut button{
    background-color: #333333;
    border: 1px solid #222222;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 17px;
    border-top-right-radius: .8em;
    border-bottom-right-radius: .8em;
    font-family: 'Courier New', Courier, monospace;
}
div#totalHide{
    margin: 100px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
div#totalHide button {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #222222;
    border-radius: .4em;
    font-size: 16px;
    font-weight: 600;
}

@media(min-width: 1024px){
    div.cartHeader span {
        margin: 0 70px;
    }
    ul.cartList li span.carttype{
        left: 50px;
    }
    ul.cartList li span.cartCount {
        left: 260px;
    }
    ul.cartList li span.cartCount p {
        padding: 0 10px;
    }
    ul.cartList li span.cartPrice {
        right: 260px;
    }   
    ul.cartList li span.cartRemove {
        right: 70px;
    }
    div.total span.totalPlaceholder{
        left: 70px;
    }
    div.total span.total{
        right: 250px;
    }
    div.total span.removeAll{
        right: 75px;
    }
}
@media(min-width: 1100px){
    div.cartHeader span {
        margin: 0 90px;
    }
    ul.cartList li span.carttype{
        left: 60px;
    }
    ul.cartList li span.cartCount {
        left: 320px;
    }
    ul.cartList li span.cartCount p {
        padding: 0 10px;
    }
    ul.cartList li span.cartPrice {
        left: 580px;
    }   
    ul.cartList li span.cartRemove {
        left: 800px;
    }
    div.total span.totalPlaceholder{
        left: 70px;
    }
    div.total span.total{
        left: 580px;
    }
    div.total span.removeAll{
        left: 800px;
    }
}